<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #ba6af3;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/nutrition">Nutrition</a></li>
  <li><a href="/home">Home</a></li>
  <li><a href="/training">Training</a></li>
  <li><a href="/questions">Questions</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Nutrition</h2>
  <h3>Nowadays there are so many nutrition experts seem to holding opposing opinions and people get easily confused trying to figure out what they should do to optimise their health. So, I am going to share my first-hand experience.  </h3>
  <h4>1. Will</h4>
  <p>I know that it sounds ridiculous, but the most important thing here is your will. First of all, think of your ideal body and make a decision whether you are ready to change.</p>
  <h4>2. Limit sugar</h4>
  <p>Unfortunately, findings from several studies point to sugar-sweetened beverages increasing risk of heart disease and type 2 diabetes, even in people who are not carrying excess body fat.</p>
  <p>It doesn't mean that you have to stop eating chocolate or drinking soda at all. Do not punish yourself if you ate something, just try to control your eating habits. As a person with 'almost-no-willpower', I know that it's easier said than done but trust me, the most difficult thing is to start. </p>
  <h4>3. Avoid ultra-processed foods</h4>
  <p>Ultra-processed foods are foods containing ingredients that are significantly modified from their original form. They often contain additives like added sugar, highly refined oil, salt, preservatives, artificial sweeteners, colors, and flavors as well</p>
  <h4>4.Stay hydrated</h4>
  <p>Hydration is an important and often overlooked marker of health. Staying hydrated helps ensure that your body is functioning optimally and that your blood volume is sufficient.Although there’s no set amount that everyone needs per day, aim to drink enough so that your thirst is adequately quenched.</p>
    <h4>5.Eat plenty of fruits and vegetables</h4>
    <p>Vegetables and fruits are loaded with prebiotic fiber, vitamins, minerals, and antioxidants, many of which have potent health effects.But remember that fruits are high in calories.</p>

</div>

</body>
</html>