<!DOCTYPE html>
<html>
<head>
<style>
body {
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #ba6af3;
  color: white;
}

li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/training">Training</a></li>
  <li><a href="/home">Home</a></li>
  <li><a href="/nutrition">Nutrition</a></li>
  <li><a href="/questions">Questions</a></li>
</ul>

<div style="margin-left:25%;padding:1px 16px;height:1000px;">
  <h2>Training</h2>
  <h3>Get moving!</h3>
  <p>Doing aerobic exercise, or cardio, is one of the best things you can do for your mental and physical health. It’s particularly effective at reducing belly fat, the harmful type of fat that builds up around your organs. Reduced belly fat may lead to major improvements in your metabolic health.</p>
  <p>To begin with, you need to determine what exactly you want: to reduce the percentage of body fat and lose weight, or to reduce the percentage of body fat and build muscle. There is a golden rule that not everyone follows. It lies in the fact that the body needs to be given a rest, daily workouts will not accelerate the process of weight loss, much less muscle growth. Balance is important both in nutrition and in training. Discipline is definitely a good thing, but if you feel depressed and don't want to train, give yourself a chance to rest.</p>
    <p>Secondly, try to diversify your workouts, you don't have to do only cardio or strength training. Thanks to yoga, posture improves, complexes from edema improve blood circulation. Immediately after training, you will feel as if you have no more strength, but, trust me, over time you will notice how much your mood, endurance and willpower will improve.</p>

</div>

</body>
</html>